body {
  font-family: 'Roboto', sans-serif;
  min-width: 320px;

  .Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 115px;
    background-color: white;

    .menu {
      display: inline-flex;

      .item {
        padding: 0 10px;

        a {
          padding: 13px 5px;
          line-height: 50px;
          font-weight: 500;
          color: #2d2d2d;
          transition: color .2s linear;

          &:hover {
            color: #ff7911;
            text-decoration: none;
          }
        }

        .active{
          color: #ff7911;
          border-bottom: 2px solid #ff7911;
        }
      }
    }
  }

  .Content {
    min-height: 100vh;
    padding-top: 150px;
    background-color: #f8f8f8;
  }

  .Footer {
    height: 115px;
    background-color: #282828;
    margin-top: -115px;
    padding-top: 10px;

    .powered {
      margin: 25px auto;
      color: #777;
      height: 45px;
      width: 252px;
      padding: 20px;
      border-top: 1px solid gray;
      font-size: 10px;
      text-align: center;
    }
  }

  .alert {
    position: absolute;
    right: 0;
    z-index: 99;
  }
}
