.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  .content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    box-shadow: $box-shadow;

    form {
      label {
        display: inline-flex;
        width: 85px;
        border-bottom: 1px solid $border-default-color;
        line-height: 28px;

        .red {
          color: $warning-color;
        }
      }

      input {
        border: none;
        border-bottom: 1px solid $border-default-color;
        line-height: 27px;
      }

      .not-validate {
        border-color: $warning-color;
      }
    }

    .submit {
      float: right;
    }
  }
}
