.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  .row {
    margin: 0;

    .box {
      .content {
        margin-bottom: 20px;
        background: $white-color;
        padding: 0;
        border: 1px solid $border-default-color;
        margin: 10px;
        box-shadow: $box-shadow;

        .texts {
          padding: 10px;
          color: $font-default-color;

          .title {
            margin: 10px 0;
            font-size: 22px;
          }
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}
