$font-default-color: #2d2d2d;
$border-default-color: #e3e3e3;
$pgs-orange: #ff7911;
$warning-color: #ff0000;
$box-shadow:3px 3px 20px rgba(0, 0, 0, 0.239);
$footer-background-color: #282828;
$white-color: #ffffff;
$gray-color: #808080;
$content-background-color: #f8f8f8;
